.git-result {
   &__container {
      @media screen and (min-width: $bp-mobile) {
         display: grid;
         grid-template-columns:repeat(2, minmax(0, 1fr));
         column-gap: 10px;
         row-gap: 10px;
      }
      @media screen and (min-width: $bp-tablet) {
         grid-template-columns:repeat(3, minmax(0, 1fr));
         column-gap: 20px;
         row-gap: 20px;
         padding: 10px
      }
   }
   &__tile {
      background-color: white;
      border: 2px solid $color-gray-dk;
      border-radius: 5px;
      &:hover {
         border: 2px solid $color-green-flash;
         .git-result__title {
            color: $color-green-flash;
         }
      }
   }
   &__link {
      display: flex;
   }
   &__profile {
      width: 100px;
      height: 100px;
      border-right: 1px solid $color-gray-lt;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      flex-shrink: 0;
      @media screen and (min-width: $bp-mobile) {
         width: 60px;
         height: 60px;
      }
      @media screen and (min-width: $bp-desktop) {
         width: 100px;
         height: 100px;
      }
      @media screen and (min-width: $bp-desktop-max) {
         width: 120px;
         height: 120px;
      }
   }
   &__details {
      width: 100%;
      padding: 5px 15px;
      @media screen and (min-width: $bp-desktop) {
         padding: 10px;
      }
      @media screen and (min-width: $bp-desktop-max) {
         padding: 15px;
      }
   }
   &__title {
      text-transform: uppercase;
      font-family: 'Oxygen', sans-serif;
      font-weight: 700;
      font-size: 12px;
      @media screen and (min-width: $bp-desktop) {
         font-size: 16px;
      }
      @media screen and (min-width: $bp-desktop-max) {
         font-size: 18px;
      }
   }
   &__author,
   &__stars {
      font-size: 10px;
      @media screen and (min-width: $bp-desktop) {
         font-size: 12px;
      }
      @media screen and (min-width: $bp-desktop-max) {
         font-size: 14px;
      }
   }
   &__stars {
      margin-top: 5px;
      @media screen and (min-width: $bp-desktop) {
         margin-top: 10px;
      }
   }
}