.git-search {
   &__container {
      margin-bottom: 15px;
   }

   &__input,
   &__type {
      // height: 30px;
      font-size: 16px;
      padding: 5px 5px 5px 10px;
   }

   &__input {
      width: 300px;
      margin-right: 5px;
   }

   &__type {
      text-transform: uppercase;
   }
}